body { font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 14px; font-weight: 400; text-align: left; margin: 50px; padding: 0; }

div#trunk { width: 850px; margin-top: 80px; }

h2 { margin-top: 32px; }

ul { list-style-type: square; padding-left: 25px; }

img { margin-top: 30px; }
