body#body-login div#header {
  padding-top: 64px;
  padding-bottom: 16px;
}

body#body-login .wrapper {
  width: 600px;
  text-align: left;
  color: #fff;
}

body#body-login .v-align {
  padding-left: 16px;
  padding-right: 16px;
  backdrop-filter: blur(5px);
  padding-bottom: 64px;
}

h1, h2 {
  margin-bottom: 0.5em;
  margin-top: 1.5em;
}

p {
  margin-bottom: 1em;
}

h1 {
  font-size: 150%;
  font-weight: 800;
}

h2 {                                                                      
  font-size: 125%;                                                                        
  font-weight: 800;                                                                       
}

ul { margin: 14px; list-style-type: square; }
